
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #3742fa,
  secondary : #ffffff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yellow:     #f1c40f
);

$toolbar-background: color($colors, secondary);
$content-padding: 90px;
$background-color: color($colors, light);
$card-md-background-color: color($colors, secondary);

$list-md-background-color: color($colors, secondary);
//$list-md-text-color:color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

