
.pull{
    margin-left: 30px;
}

.flowDes {
  background-color: color($colors, secondary);
}

.avatar {
  height: 150px;
  width: 310px;
  background-image: url(./../assets/imgs/material3.jpg);
  background-size: cover;
  margin-bottom: -5px;
}

.blue {
    color: blue;
}